<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-4"></div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <div class="row text-center ui-wall-login-container">
                <div class="col-md-12 ui-wall-login-brand-name">The Wall</div>
                <div class="col-md-12">Sign up to write on the Wall</div>
                <div class="col-md-12 mt-4 mb-2">
                    <div class="row">
                        <button class="btn btn-md btn-primary btn-block" type="button" (click)="googleSignIn()">Sign In With Google</button></div>
                    </div>
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col"><hr></div>
                        <div class="col-auto">OR</div>
                        <div class="col"><hr></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mb-3">
                        <input type="email" id="inputEmail" class="form-control font-size-14" placeholder="Email address" required="" autofocus="">
                    </div>
                    <div class="row mb-3">
                        <input type="text" id="inputFullName" class="form-control font-size-14" placeholder="Full Name" required="" autofocus="">
                    </div>
                    <div class="row mb-3">
                        <input type="password" id="inputPassword" class="form-control font-size-14" placeholder="Password" required="" autofocus="">
                    </div>
                    <div class="row mb-3">
                        <input type="password" id="inputConfirmPassword" class="form-control font-size-14" placeholder="Confirm Password" required="" autofocus="">
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="row">
                        <button class="btn btn-md btn-primary btn-block" type="submit">Sign Up</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
                </div>
            </div>
        <div class="col-xs-12 col-sm-2 col-md-4"></div>
    </div>
</div>
